<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca los siguientes datos</h4>
      <label for="email">Correo electrónico</label>
      <input type="email" id="inputEmail" class="form-control" formControl="email" autofocus />
      <label for="password">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" formControl="password" />
      <hr />
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Iniciar sesión</button>
    </form>
  </div>
</div>