<h1>Lista de proveedores</h1>
<a href="#" class="btn btn-primary float-right" routerLink="/addproveedor" style="margin-bottom: 1em;">Añadir nuevo proveedor</a>
<table class="table table-bordered table-striped tabla">
	<thead>
		<tr class="filters">
			<th>Nombre</th>
			<th>Correo electrónico</th>
			<th>Teléfono</th>
		</tr>
	</thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{ proveedor.nombre }}</td>
      <td><a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a></td>
      <td>{{ proveedor.telefono }}</td>
    </tr>
  </tbody>
</table>