input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border-left: 5px solid #A94442;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty {
  border-left: 5px solid #42A948;
}

.check, .uncheck {
  margin-left: .5em;
}

.check {
  color: #42A948;
}

.uncheck {
  color: #A94442;
}